<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %} - Mizzou Marketplace</title>
    <style>
        .item {
            padding: 10px;
            margin: 5px;
            background-color: white
        }
    </style>
</head>
<body id="{{ id }}">
    <nav class="headernav">
        <a href="{{ url_for('index') }}"><img id="websitelogo"src="/static/Images/logo.png"></a>
        <div class="navdiv">
            <a href="{{ url_for('about') }}"><img id="navimage"src="/static/Images/aboutnav.png"></a>
            <a href="{{ url_for('itemEntry') }}"><img id="navimage"src="/static/Images/postitemnav.png"></a>
            <!--commented below out for deployment-->
            <!-- <a href ="{{ url_for ('product') }}"><img id="productnavimage"src="/static/Images/productsnav.png"></a> -->
            <a href="{{ url_for('login') }}"><img id="navimage"src="/static/Images/loginnav.png"></a>
            <a href ="{{ url_for('register') }}"><img id="navimage"src="/static/Images/registernav.png"></a>
        </div>
    </nav>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}

        {% block content %} {% endblock %}
    </div>
    <div style="height: 150px;">
    </div>
    <div class="footer">
        <div id="footerimage">
            <img src="/static/Images/Columns.png" id="mucolumns">
        </div>
        <div class="footeritems">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('policy') }}">Policy</a>
            <a href="{{ url_for('faq') }}">FAQ</a>
            <a href="{{ url_for('support') }}">Support</a>
        </div>
    </div>
</body>
</html>