<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Mizzou Marketplace</title>
    <style>
        .item {
            padding: 10px;
            margin: 5px;
            background-color: white
        }
    </style>
</head>
<body>
    <nav class="headernav">
        <div>
            <a href="{{ url_for('index') }}"><img id="websitelogo"src="/static/Images/logo.png"></a>
            <a href="{{ url_for('about') }}"><img id="websitelogo"src="/static/Images/brushabout.png"></a>
            <a href="{{ url_for('itemEntry') }}"><img id="websitelogo"src="/static/Images/brushpostanitem.png"></a>
            <a href ="{{ url_for ('product') }}"><img id="websitelogo"src="/static/Images/brushproducts.png"></a>
        </div>
        <div class="account">
            <a href="{{ url_for('login') }}"><img id="websitelogo"src="/static/Images/brushlogin.png"></a>
            <a href ="{{ url_for('register') }}"><img id="websitelogo"src="/static/Images/brushregister.png"></a>

        </div>
    </nav>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}

        {% block content %} {% endblock %}
    </div>
    <div class="footer">
        <div id="footerimage">
            <img src="/static/Images/Columns.png" id="mucolumns">
        </div>
        <div id="munavbarlink">
            <a href="{{ url_for('go_mu_homepage') }}">
                <img src="/static/Images/MU_UniversitySignature_rgb_std_horiz.png" id="mulogo">
            </a>
        </div>
        <div class="footeritems">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('faq') }}">FAQ</a>
        </div>
    </div>
</body>
</html>