{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
</head>

<body>
    <h1>Login</h1>
    <h2>Enter your email and password:</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <div class="email">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" required>
        </div>
        <div class="password">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <p>Don't have an account yet? <a href="{{ url_for('register') }}">Create an account</a></p>
</body>

{% endblock %}
