{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product.css') }}">
</head>

<body>
    <div class="container">
        <div class="product">
            <div class="gallery">
                <img src="{{ url_for('static', filename='/Images/macbook2.jpeg') }}" id="productImg" alt="Apple MacBook Air Image">
                <div>
                </div>
                <div class="controls">
                    <span class="btn" data-img="{{ url_for('static', filename='/Images/macbook2.jpeg') }}"></span>
                    <span class="btn" data-img="{{ url_for('static', filename='/Images/laptop-3912759_1280.jpg') }}"></span>
                </div>
            </div>
            <div class="details">
                <h1>16-inch Apple MacBook Pro w/M1 Chip</h1>
                <h2>$1,000</h2>
                <p>This is a used 2021 MacBook Pro; it's been well taken care of and is in good condition.
                    Reason of selling it because for some reason that Xcode and Aodbe After Effects won't load.
                </p>
                <form>
                    <div>
                        <label>Condition: Good</label>
                    </div>
                    <button type="button">Contact Seller</button>
                </form>
                <form>
                    <br></br>
                    <br></br>
                    <div>
                        <span id="prevProduct" class="back-button">Back</span>
                        <span id="nextProduct" class="switch-button">Next</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        
        const productImg = document.getElementById("productImg");
        const buttons = document.querySelectorAll(".btn");

        buttons.forEach(button => {
            button.addEventListener("click", () => {
                productImg.src = button.getAttribute("data-img");
            });
        });
    </script>
    <script>
        // JavaScript for span redirection
        const nextProduct = document.getElementById("nextProduct");
    
        nextProduct.addEventListener("click", () => {
            window.location.href = "{{ url_for('nightstand') }}";
        });
    </script>
</body>



{% endblock %}