{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/product.css') }}">
</head>

<body>
    <div class="container">
        <div class="product">
            <div class="gallery">
                <img src="{{ url_for('static', filename='/Images/chemistry1.jpg') }}" id="productImg" alt="Textbook">
                <div class="controls">
                    <span class="btn" data-img="{{ url_for('static', filename='/Images/chemistry1.jpg') }}"></span>
                    <span class="btn" data-img="{{ url_for('static', filename='/Images/chemistry2.jpg') }}"></span>
                </div>
            </div>
            <div class="details">
                <h1>Chemistry Textbook</h1>
                <h2>$150</h2>
                <p>This is a used Chemistry textbook, perfect for college students. It's barely used, only utilized during a college chemistry course, and is in excellent condition.</p>
                <form>
                    <div>
                        <label>Condition: Like New</label>
                    </div>
                    <div>
                    </div>
                    <button type="button">Contact Seller</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        
        const productImg = document.getElementById("productImg");
        const buttons = document.querySelectorAll(".btn");

        buttons.forEach(button => {
            button.addEventListener("click", () => {
                productImg.src = button.getAttribute("data-img");
            });
        });
    </script>
</body>

{% endblock %}
