.footer{
    display: flex;
    background-color: #F1B82D;
    color: black;
    padding: 6px;
    justify-content: space-between;
    border-top: 1px solid black;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footeritems{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 100px;
}
#footerimage{
    width: 125%;
    height: 125%;
}
.footeritems a{
    text-decoration: none;
    padding: 20px;
    margin: 0 15px;
    margin-left: 75px;
}
.footeritems a:hover{
    text-decoration: none;
}
.footeritems a:visited{
    color: black;
}
#munavbarlink{
    padding-right: 80px;
    width: 50%;
    height: 50%;
}