.footer {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    background-color: #F1B82D;
    color: black;
    justify-content: space-between;
    border-top: 1px solid black;
    margin-top: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    flex-wrap: wrap;
    flex-direction: row;
}

.footeritems{
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-right: 100px;
    gap: 24px;
}

.footeritems a{
    text-decoration: none;
    display: flex;
    padding: 1px;
    margin: 0 5px;
    margin-left: 50px;
}
.footeritems a:hover{
    text-decoration: none;
    display: flex;
}
.footeritems a:visited{
    color: black;
}

#munavbarlink{
    padding-right: 60px;
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 700px) {

}