@media screen and (max-width: 700px) {
    .navdiv img {
        width: 100px;
        height: 40px;
    }

    #websitelogo{
        margin: 24px;
        width: 75px;
        height: 75px;
    }
}

.navdiv img {
    width: 150px;
    height: 70px;
}

#websitelogo{
    margin: 24px;
    width: 150px;
    height: 150px;
}

#mucolumns {
    width: 200px;
    height: auto;
}