#mucolumns{
    height:15%;
    width: 15%;
}
#mulogo{
    width: 60%;
    height: 60%;
}
#websitelogo{
    width: 80%;
    height: 80%;
}
#navimage{
    width: 60%;
    height: 60%;
    margin-top: 20px;
}
#productnavimage{
    width: 50%;
    height: 50%;
    margin-top: 20px;
}