@import url('navbar.css');
@import url('footer.css');
@import url('images.css');
@import url('faq.css');
@import url('index.css');
@import url('support.css');

html, body{
    margin: 0;
}
.content{
    flex: 1;
    padding-bottom: 100px;
}