.headernav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headernav a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
}

.navdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    margin-right: 32px;
}

@media screen and (max-width: 700px) {
    .navdiv {
        gap: 24px;
        margin-right: 0;
        justify-content: center;
    }

    .headernav{
        flex-direction: column;
    }
}