.headernav{
    background-color: black;
    overflow: hidden;
}

.headernav a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    float: left;
}

.account{
    float: right;
}